{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "env": {
        "browser": true,
        "commonjs": true
    },
    "rules": {
        "linebreak-style": [
            "error",
            "unix"
        ],
        "semi": "error",
        "indent": [
            "error",
            2
        ],
        "quotes": [
            2,
            "single",
            {
                "avoidEscape": true
            }
        ]
    }
}